
.eve-act-section{
	text-align: center;
  margin-top:600px;
    font-size: 16px;
}

.eve-act-box{
	background-color: white;
	width: 90%;
	margin-bottom: 30px;
	margin-top: 30px;
    margin-left: 40px;
	box-shadow: 0 3px 2px #efefef;
	text-align: left;
    background-color: #ffffcc;
}
.eve-act-heading{
	font-size: 150%;
	color:#555;
	margin-bottom: 20px;
	font-weight: 400;
}
.eve-act-subheading{
	color: #3366ff;
	font-size: 100%;
	font-weight: 300;

}

.eve-act-box ul {
	list-style: none;
}
.small-icon{
	color: #3366ff;
	font-size: 120%;
	display: inline-block;
	margin-right: 10px;
	width: 30px;
	text-align: center;
}
.eve-act-box ul li{
	color: gray;
	padding: 5px 0;
}
.eve-act-box div{
	padding: 15px;
}


.eve-act-box div:first-child{
	background-color: #fcfcfc;
}

.eve-act-heading1{
	font-size: 250%;
	color: black;
	margin-top: 100px;
	text-align: center;
	padding: 40px;
}


@media only screen and (max-width:1200px) {

}

@media only screen and (max-width:1023px) {

}

@media only screen and (max-width:767px) {

}

@media only screen and (max-width: 480px) {
    .eve-act-section{
        margin-top: 0px;
    }
    .eve-act-box{
        margin-left: 10px;
    }
}

