.accent-bg-color {
    background-color: #303983;
}

.accent-color{
    color: #303983;
}

.custom-nav-dropdown-color{
    background-color: #6b73b2;
}

.dropdown-item:hover{
    background-color: red;
}

/* .only-large {
    display:none;
 } */

.only-small {
    display: none;
}
 
 /* @media (min-width:992px) {
    #hometext p{
        font-size: 40px;
      }
    .only-large{
       display: block;
    }
 }

 @media (max-width:992px) {
    .only-small{
       display: block;
    }
 } */
