*{
    margin: 0px;
    color: aliceblue;
}
body {
    height:100%;
}
.row{
    margin: 0px 0px;
    height: 100px;
    width: 100%;
    font-size:20px;

}
.row .responsive .col{
    width: 100px;
    height: 100%;
    text-align:center;
    padding: 15px;
    padding-top: 25px;
    transition: background-color 1s;
    transition: font-size 0.1s;
}
.row .col{

    width: 100%;
    height: 100%;
    text-align:center;
    padding: 15px;
    padding-top: 25px;
    transition: background-color 1s;
    transition: font-size 0.1s;
}
.icon{
    display: none;
}
.row .col:hover{
background-color: hsla(216, 76%, 52%, 0.671);
font-size: 25px;
}

 img{
        width: 100%;
        height: 100%;
        margin: 0px;
      
    }

    .row{
        background-color:#1560bd;
    }
    @media only screen and (max-width: 768px) {
        .row .col:not(:first-child) {display: none;}
          .row .col-sm-4{
              display: none;
          }
          .row a.icon {
            float: right;
            display: block;
            position: relative;
            bottom: -30%;
            margin-right: 40px;

          }
          .row .img{
           
              margin: 0px;
              position: relative;
bottom: 60%;
right: 5%;
          }
          #logo{
              height: 100px;
          }
    }
    @media only screen and (max-width: 768px) {
       /* .row{
            height: 30%;
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
        .col{
            text-align: center;
        }
        img{
            width: 100px;
            height: 100px;
        }
        .row .icon {
            position: absolute;
            right: 0;
            top: 0;
          }
        .row .icon{
            float: none;
            display: block;
            text-align: left;
          }*/
          .row{
            height: 30%;
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
        .row .responsive{
            float: none;
            display: block;
            text-align: left;
          }

          .row .responsive{position: relative;}
          img{
            width: 100px;
            height: 100px;

        }
        .row .responsive .icon{
            position: absolute;
            right: 0;
            top: 0;
        }

          .row .responsive .col{
            float: none;
            display: block;

          }
        .col{
            text-align: center;
        }
  .row .responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .row .responsive a {
    float: none;
    display: block;
    text-align: left;
  }

    }

.history{
    padding: 40px;
}
.history .row{
    background-color: white;
}
.laptop-image {
	width:80%;
}

.about-heading {
	color:#000;
	font-size:250%;	
	margin-bottom:50px;    
}

.about-para {
	color:#555;
	margin-bottom:50px;
    font-size: 16px;
}


.eve-act-section{
	text-align: center;	
	margin-top: 250px;
    font-size: 16px;
}

.eve-act-box{
	background-color: white;
	width: 90%;
	margin-bottom: 30px;
	margin-top: 30px;
	box-shadow: 0 3px 2px #efefef;
	text-align: left;
    background-color: #ffffcc;
}
.eve-act-heading{
	font-size: 150%;
	color:#555;
	margin-bottom: 20px;
	font-weight: 400;
}
.eve-act-subheading{
	color: #3366ff;
	font-size: 100%;
	font-weight: 300;
	
}

.eve-act-box ul {
	list-style: none;	
}
.small-icon{
	color: #3366ff;
	font-size: 120%;
	display: inline-block;
	margin-right: 10px;
	width: 30px;
	text-align: center;
}
.eve-act-box ul li{
	color: gray;
	padding: 5px 0;
}
.eve-act-box div{
	padding: 15px;
}


.eve-act-box div:first-child{
	background-color: #fcfcfc;
}

.eve-act-heading1{
	font-size: 250%;
	color: black;	
	margin-top: 100px;
	text-align: center;
	padding: 40px;
}


.award-heading{
	font-size:250%;
	color:#000;
	margin-bottom:20px;
	margin-top:50px;
}

.award-sub-heading {
	font-size:150%;
	color:#555;
	font-weight:300;
	margin-bottom:10px;
	line-height: 1.5;

}

.award-sub-heading:after {
	display:block;
	height:2px;
	width:100px;
	background-color: #3366ff;
	content:" ";
	margin:30px auto 0 auto;
}

.awards-image{
	width: 80%;
}
.awards-subheading{
	color: black;
	font-size: 150%;
	letter-spacing: 1px;
	font-weight: 500;
	margin-bottom: 50px;
}
.awards-para{
	color: #555;
	margin-bottom: 50px;
}
.awards-box{
	margin-top: 50px;
}
.awards-box:first-child{
	text-align: left;
	padding: 0 5%;
}
.awards-box:last-child{
	text-align: right;	
}
.awards-section{
	padding-bottom: 20px	
}


.slide-show{
  max-width: 1000px;
  position: relative;
  margin-top: 400px;
  margin-left: 100px;
  text-align: center;
font-size: 16px;
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}


@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.awards .row{
    height: 20px;
    background-color: white;
}




.query-heading{
	font-size:250%;
	color:#000;
	margin-bottom:20px;
	margin-top:100px;
}

.query-sub-heading:after {
	display:block;
	height:2px;
	width:100px;
	background-color: #3366ff;
	content:" ";
	margin:30px auto 0 auto;
}


input[type=text],textarea{
	width: 100%;
	padding: 8px;
	border-radius: 3px;
	border: 1px solid #ccc;
	background-color: white;
}
input[type=submit]{
	border: 0;
}
textarea{
	height: 200px;
}

input[type=submit]
{
	text-decoration: none;
	padding: 10px 30px;
	border-radius: 200px;	
	display: inline-block;
	background-color: #3366ff;
	color: white;
}

input[type=submit]:hover
{
	background-color: #002db3;	
}

.query-section{
	text-align: center;
	margin-top: 50px;    
}
.query-form{
	text-align:left ;
	width: 60%;
	margin: 0 auto;
	color: #100;
    margin-top: 30px;
    margin-bottom: 400px;
    font-size: 16px;
}
label{
    color: black;
}

.query-section .row{
    background-color: white;
    height: 10px;
}