* {box-sizing: border-box}

body, html {
  height: 100%;
  margin: 0;
}

.tablink {
  background-color: #303983;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 16px;
  font-size: 17px;
  width: 14.28%;
}

.tablink:hover {
  background-color:red;
}

.tabcontent {
  /* color: white; */
  display: none;
  padding: 100px 20px 30px;
  margin: 30px auto;
  height: 100%;
}

#unit1,#unit2,#unit3,#unit4,#unit5,#unit6,#unit7 {
    background-color: #fafafa;
}

table {
  border-collapse: collapse;
  width: 100%;
  }
  td, th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }

  tr:nth-child(even){background-color: white;}

th{
    padding-top: 12px;
  padding-bottom: 12px;
  background-color: #303983;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  }

  td {
    color:black;
  }
  tr:hover {background-color: #ddd;}
 
